{% extends "CheckTimerLayoutBundle::layout.html.twig" %}

{% block title %}Richiesta inviata{% endblock %}

{% block contents %}
    <div class="box">
        <h1>Richiesta inviata</h1>

        <p>La tua richiesta è stata inviata con successo.</p>

        <p>
            Ti abbiamo mandato una email contenente un link su cui dovrai
            cliccare per reimpostare la tua password. Se non lo farai entro 24
            ore, la richiesta sarà annullata.
        </p>
    </div>
{% endblock %}
