{% extends "CheckTimerLayoutBundle::layout.html.twig" %}

{% block title %}Registrazione effettuata!{% endblock %}

{% block contents %}
    <div class="box">
        <h1>Registrazione effettuata!</h1>

        <p>Congratulazioni! La tua registrazione è stata effettuata con successo.</p>

        <p>
            Ti abbiamo inviato una email contenente un link su cui devi cliccare
            per confermare il tuo account. Se non lo farai entro 24 ore, la tua
            registrazione sarà cancellata e dovrai ricominciare da capo. Facciamo
            questo per evitare lo spam.
        </p>

        <p>Speriamo che ti diverti qui da noi!</p>
    </div>
{% endblock %}
