{% extends "CheckTimerLayoutBundle::layout.html.twig" %}

{% block title %}Contatti{% endblock %}

{% block contents %}
    <div class="box">
        <h1>Contatti</h1>

        <p>Se hai dubbi sul funzionamento del gioco, vuoi segnalare un problema,
        oppure ti piacerebbe lavorare con noi, non esitare a scriverci al seguente
        indirizzo email:</p>

        <p><strong><a href="mailto:webmaster@checktimer.it">webmaster@checktimer.it</a></strong></p>

        <p>Cercheremo di risponderti il prima possibile, promesso :-)</p>
    </div>
{% endblock %}
