{% extends "CheckTimerLayoutBundle::layout.html.twig" %}

{% block title %}Regolamento{% endblock %}

{% block contents %}
    <div class="box">
        <h1>Regolamento</h1>

        <p><strong>Come funziona?</strong></p>
        <p>
            È semplicissimo! Premi il pulsante <strong>START</strong> e il timer
            inizierà a correre. Devi premere il pulsante <strong>STOP</strong>
            prima del tempo massimo, ma dopo quello minimo. Fai attenzione, o
            dovrai ricominciare da capo!
        </p>

        <p><strong>Quanti livelli ci sono?</strong></p>
        <p>
            Questo lo dovrai scoprire tu! Diciamo che l'unico limite è la tua
            abilità.
        </p>

        <p><strong>E se vinco?</strong></p>
        <p>
            Non sono ancora disponibili premi, ma potrebbero esserlo presto!
        </p>

        <p><strong>Come viene creata la classifica?</strong></p>
        <p>
            Generiamo la classifica basandoci non solo sul livello a cui sei
            arrivato, ma anche sul tempo che hai impiegato per raggiungere il
            risultato. Sii veloce, quindi!
        </p>

        <p><strong>Ci sono limitazioni?</strong></p>
        <p>
            Ti chiediamo solo di non cercare di aggirare il sistema usando bot
            o altri software, o sarai escluso dal gioco!
        </p>

        <p><strong>Cosa ci guadagnate?</strong></p>
        <p>
            Dai un'occhiata alle pubblicità nelle parti superiore e inferiore
            della pagina e avrai la tua risposta!
        </p>
    </div>
{% endblock %}
